/node_modules
/public_html/text-rain
/public_html/hot
/public_html/storage
/public_html/assets/images/articles
/public_html/assets/images/users
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.reset
api
