@media (max-width: 1399px){
    footer.pfy-site-footer {
        position: relative;
    }
    span.pfy-sidebarnav{
        margin-right: 40px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .bnq-post-list-item-pagi .pfy-post-item .pfy-post-thumb {
        flex: 0 0 170px;
        max-width: 170px;
    }
}
@media (min-width: 1077px) and (max-width: 1158px) {
    
}
@media (min-width: 992px) and (max-width: 1199px) {
    .pfy-post-grid-wrap.grid-style-1 .row .col-xl-3.col-lg-4.col-md-6:last-child {
        margin-top: 20px;
    }
    .pfy-post-grid-wrap.grid-style-4 .pfy-post-item {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1148px) {
    
}

@media (min-width: 1076px) and (max-width: 1199px) {    
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-4 .pfy-post-item {
        margin-bottom: 24px;
    }
    
}

@media (min-width: 992px) and (max-width: 1076px) {
    .pfy-header-2 .mainmenu .site-navigation .navigation li a {
        padding-right: 35px;
        font-size: 15px;
    }
    .pfy-header-2 .mainmenu .site-navigation .navigation li.menu-item-has-children:after{
        right: 20px;
    }
    
    .pfy-post-grid-wrap.grid-style-2 {
        margin-bottom: 30px;
    }
    .pfy-post-grid-carousel-wrap.carousel-style-2 .pfy-post-item ul li, .pfy-post-grid-carousel-wrap.carousel-style-2 .pfy-post-item ul li a {
        font-size: 13px;
        text-transform: uppercase;
        color: #818181;
        font-weight: 500;
    }
    .pfy-cate-item-wrap.cat-style1 .pfy-cat-item-col {
        flex: 0 0 33.333% !important;
        max-width: 33.333% !important;
    }
    .pfy-mailsubscribe-form-tow {
        margin-top: 30px;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-2 .pfy-post-item {
        margin-top: 30px;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-3 .pfy-post-item {
        margin-top: 0;
    }
    .pfy-main-container .col-xl-8{
        width: 100%;
    }
    .pfy-main-container .col-xl-4 {
        width: 50%;
    }
    aside#secondary.widget-area {
        margin-top: 30px;
    }
    .bnq-post-list-item-pagi .pfy-post-item .pfy-post-thumb {
        flex: 0 0 135px;
        max-width: 135px;
    }
}

@media (min-width: 993px) and (max-width: 1024px) {
    .mainmenu .site-navigation .navigation li a {
        padding-right: 45px;
    }

    .mainmenu .site-navigation .navigation li.menu-item-has-children:after{
        right:32px
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    .pfy-post-grid-wrap.pfy-overlay-style-1.style-6 .pfy-post-item.sm-item .pfy-post-title {
        font-size: 18px;
        line-height: 28px;
    }
    .pfy-post-gd-meta li, .pfy-post-gd-meta li a{
        font-size: 12px;
    }
    .benqu__list_news_wrap.benqu__list_2 .benqu__news-item {
        flex-direction: inherit;
    }
    .benqu__list_news_wrap.benqu__list_2 .bnque-post-thumb{
        margin-left: 0;
        margin-right: 20px;
    }
}
@media (max-width: 1024px){
    .pfy__team_box_item .pfy__team_img img {
        width: 100%;
    }
}
@media (max-width: 992px){
    .authore__bio_wrap .benqu__author_bio__Wrapper {
        display: block !important;
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .pfy-cate-item-wrap.cat-style1 .pfy-cat-item-col {
        max-width: 50% !important;
        flex: 0 0 50% !important;
    }
    .pfy-post-grid-wrap.grid-style-2 ul li, .pfy-post-grid-wrap.grid-style-2 ul li a {
        font-size: 12px;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-4 .pfy-post-item {
        margin-top: 24px;
    }
    .authore__bio_wrap .benqu__author_bio__Wrapper:after {
        position: relative;
    }
    .authore__bio_wrap .benqu__author_bio__Wrapper .author-thumb {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .auth__total_post {
        margin-top: 15px;
    }
    .bnq__team_box_item {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .mainmenu .site-navigation {display: none;}
    span.pfy-sidebarnav {
        display: none;
    }
    .pfy-search {
        display: none;
    }
    .pfy-post-list-wrap.list-style-1 {
        margin-top: 30px;
    }
    .social-counter-wrap.style-1 .pfy-social-counter .pfy-social-counter-item a {
        height: 100px;
        padding-top: 16px;
    }
    .grid-style-4 .pfy-post-item {
        margin-bottom: 30px;
    }
    
    .pfy-post-grid-wrap.grid-style-5 .pfy-post-item .pfy-post-thumb {
        margin-bottom: 25px;
        margin-right: 0;
    }
    .pfy-post-grid-wrap.grid-style-5 .pfy-post-item, .bnq-post-list-item .pfy-post-item{
        display: block !important;
    }
    .bnq-post-list-item .pfy-post-item {
        padding: 15px;
    }
    
    .bnq-post-list-item .pfy-post-item .pfy-post-thumb.pfy-img-commn-style {
        width: 100%;
        margin-bottom: 15px;
    }
    .authore__bio_wrap .benqu__author_bio__Wrapper {
        display: block !important;
        text-align: center;
    }
    .tp-news-ticker {
        display: none;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-3 .pfy-post-item .pfy-post-content {
        padding: 0 15px;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-3 .pfy-post-content .pfy-post-title {
        font-size: 25px;
        line-height: 35px;
    }
    .pfy-post-grid-wrap.overlay-5 .pfy-post-item .pfy-post-thumb img {
        height: auto;
        width: 100%;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-1.style-6 .col-lg-5 {
        margin-bottom: 24px;
    }
    .pfy-post-grid-wrap.grid-style-3 .pfy-post-item {
        display: block;
    }
    .pfy-post-grid-wrap.grid-style-3 .pfy-post-item .pfy-post-thumb {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .pfy-post-grid-wrap.grid-style-3 .pfy-post-content {
        padding-bottom: 25px;
    }
    .apsc-each-profile {
        width: 48%;
        flex: 0 0 48%;
    }
    .widget-post-slider-wrap .pfy-post-slider-item .pfy-post-content {
        bottom: 20px;
        left: 20px;
        right: 20px;
    }
    .pfy-cate-item-wrap.cat-style1 .pfy-cat-item a {
        font-size: 14px;
    }
    .benqu_latest_news_widget .benqu__post-title.hover-title {
        font-size: 16px;
        line-height: 24px;
    }
    .recent-posts-widget .post-thumb {
        flex: 0 0 90px;
        max-width: 90px;
    }
    
    .widget-area {
        margin-top: 30px;
    }
    .pfy-post-item.post-ov-lg.pfy-scale {
        margin-bottom: 24px;
    }
    .pfy-post-item.pfy-gr-lg.pfy-scale {
        margin-bottom: 24px;
    }
    .footer-copyright.text-end {
        text-align: center !important;
        margin-top: 15px;
    }
    .footer-btm-nav {
        text-align: center;
    }
    .grid-style-1 .pfy-post-item {
        margin-top: 20px;
    }
    .pfy-main-container .col-xl-8{
        width:100%
    }
    .pfy-main-container .col-xl-4{
        width:100%
    }
    .pfy-post-item.post-v2-tab-lg {
        margin-bottom: 24px;
    }
    .social-counter-wrap.style-1 .pfy-social-counter .pfy-social-counter-item a{
        width: 100%;
    }
    .bnq__single_team_box {
        flex-direction: column;
        text-align: center;
    }
    .bnq__team_single_img{
        margin-bottom: 15px;
    }
    .admin-bar header.benqu-main-header .header-menu.stickyHeader {
        margin-top: 0px;
    }
    .header-menu {
        padding: 20px 0;
    }
    .benqu__list_news_wrap.benqu__list_2 .benqu__news-item {
        flex-direction: inherit;
    }
    .benqu__list_news_wrap.benqu__list_2 .bnque-post-thumb{
        margin-left: 0;
        margin-right: 20px;
    }
    .benqu__news-item.benq_tiles__list_lg .bnque-post-thumb {
        -ms-flex: 0 0 350px;
        flex: 0 0 350px;
    }
    .benqu__news-item.benq_tiles__list_sm {
        margin-bottom: 24px;
    }
    .benqu__new_title.benqu__title_dif h1:before, .benqu__new_title.benqu__title_dif h1:after {
        position: inherit;
    }
    .bnq-post-list-item-pagi .pfy-post-item .pfy-post-thumb {
        flex: 0 0 145px;
        max-width: 145px;
        margin-right: 10px;
    }
}
@media (max-width: 767px) {
    h2 {
        font-size: 25px;
        line-height: 35px;
    }
    .pfy-top-bar .col-md-5.col-12.text-end {display: none;}
    .pfy-overlay-style-2 .pfy-post-item {margin-bottom: 30px;}

    .pfy-site-footer .col-md-6 {margin-top: 30px;}
    .pfy-top-left {text-align: center;}

    .pfy-top-left .topbar-date {float: none;padding: 0;}

    .pfy-top-right {text-align: center;margin-top: 15px;}

    .pfy-header-2 .col-md-5.text-end {text-align: center !important;}

    .user-login:after {background: transparent;}
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-3 .pfy-post-item .pfy-post-content {
        padding: 0 30px;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-3 .pfy-post-content .pfy-post-title {
        font-size: 25px;
        line-height: 35px;
    }
    .pfy-overlay-style-2.style-3 .pfy-post-item {
        margin-bottom: 0;
    }
    .pfy-post-gd-meta li, .pfy-post-gd-meta li a {
        font-size: 12px;
    }
    .pfy-trending-wra .pfy-post-item .pfy-post-content {
        padding: 0 20px;
    }
    .pfy-post-slider-item .pfy-post-content {
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
    h1.pfy-post-title {
        font-size: 25px;
        line-height: 39px;
    }
    .bnq__post_overlay_11 .pfy-post-content h1 {
        font-size: 25px;
        line-height: 39px;
    }
    .pfy-post-slider-item .pfy-post-meta ul li, .pfy-post-slider-item .pfy-post-meta ul li a {
        font-size: 12px;
    }
    
    .pfy-post-slider-item .pfy-post-meta ul li:not(:last-child) {
        padding-right: 22px;
    }
    .pfy__error_content h1 {
        font-size: 25px;
        line-height: 39px;
    }
    .pfy_single_post_wrapper .entry-title {
        font-size: 25px;
        line-height: 38px;
    }
    blockquote.wp-block-quote p {
        font-size: 16px;
    }
    blockquote.wp-block-quote {
        padding: 20px;
        padding-top: 120px;
    }
    .benqu__author_bio__Wrapper {
        display: block;
        padding: 25px;
    }
    
    .benqu__author_bio__Wrapper .author-thumb {
        margin: 0 auto;
    }
    
    .benqu__author_bio__Wrapper .theme_author_Info {
        padding: 0;
        text-align: center;
        padding-top: 20px;
    }
    .pfy-logo {
        padding-right: 0;
    }
    .pfy-default-post-ly .pfy-post-content .pfy-post-title {
        font-size: 24px;
        line-height: 34px;
    }
    .pfy-section-title-two .title-shape {
        display: none;
    }
    .newsletter-info {
        padding: 20px;
    }    
    .newsletter-info input[type="email"]{
        width: 100%;
    }
    .newsletter-info.text-center {
        padding: 20px;
    }
    
    .newsletter-info p {
        font-size: 16px;
        line-height: 22px;
    }
    .newsletter-info input[type="submit"] {
        margin: 0;
        margin-top: 15px;
    }
    .pfy-post-grid-wrap.grid-style-2 ul li, .pfy-post-grid-wrap.grid-style-2 ul li a {
        font-size: 12px;
    }
    .pfy-post-grid-wrap.grid-style-2 ul li:not(:last-child) {
        padding-right: 20px;
    }
    .pfy-post-tb-item .pfy-post-item .post-thumb img {
        height: 250px;
    }
    .tabs-to-dropdown .pfy-post-overly-item {
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .pfy-mailsubscribe-form-tow {
        margin-top: 30px;
    }
    .pfy-logo {
        max-width: 30%;
        flex: 0 0 30%;
    }
    .pfy-post-grid-wrap.grid-style-2 .pfy-post-item {
        margin-top: 25px;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-4 .pfy-post-item {
        margin-top: 24px;
    }
    .pfy-global-social.text-end {
        text-align: center !important;
    }
    .authore__bio_wrap .benqu__author_bio__Wrapper:after {
        background: no-repeat;
    }
    
    .authore__bio_wrap .benqu__author_bio__Wrapper .author-thumb {
        margin: 0 auto;
        padding: 0;
    }
    
    .authore__bio_wrap .benqu__author_bio__Wrapper .theme_author_Info {
        padding: 0;
        padding-top: 20px;
    }
    .header-menu .container{
        position: relative;
    }
    .header-right {
        position: absolute;
        top: 0px;
        right: 18px;
    }
    .pfy-overlay-style-9 .pfy-post-content {
        padding: 30px;
    }
    .pfy-post-grid-wrap.grid-style-3 .pfy-post-content {
        padding: 0;
    }
    .bnq__team_img img{
        width: 100%;
    }
    .bnq__team_single_img{
        margin-right: 0;
    }
    .pfy-post-grid-wrap.grid-style-3 .pfy-post-item {
        margin-bottom: 20px;
    }
    .pfy-single-post-meta{
        flex-direction: column;
    }
    .bnq__social-top .social-box.socila-box-two{
        margin-top: 15px;
    }
    .pfy_single_post_wrapper iframe {
        height: auto;
    }
    .pfy-overlay-style-10 .pfy-post-content {
        padding: 35px 30px;
    }
    .benqu__news-item.benq_tiles__list_lg {
        display: block;
    }
    
    .benqu__news-item.benq_tiles__list_lg .bnque-post-thumb {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .benqu__post_grid_wraper .bqneu__post_content h2.pfy-post-title {
        font-size: 25px;
        line-height: 40px;
    }
    
    .bnq__wrap_grid_ .benqu__news-item .bqneu__post_content .pfy-post-title {
        font-size: 16px;
        line-height: 24px;
    }
    .bnq__wrap_grid_ .bnque-post-thumb {
        -ms-flex: 0 0 120px;
        flex: 0 0 120px;
    }
    .benqu__news-item.benq_tiles__list_sm {
        margin-bottom: 20px;
    }
    .benqu_post_tabs_tiles .nav-item {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .benqu__news-item.benq_tiles__list_sm {
        margin-bottom: 20px;
    }
    
    .benqu__new_title.benqu__title_dif h1 {
        font-size: 30px;
        line-height: 44px;
    }
    
    .benqu__new_title.benqu__title_dif h1:before, .benqu__new_title.benqu__title_dif h1:after {
        position: inherit;
    }
    .bnq__post_overlay_11 .pfy-post-content {
        width: 90%;
        padding: 30px 15px;
        bottom: 15px;
    }
    .bnq__post_overlay_11 .pfy-post-thumb img {
        height: 510px;
    }
}
@media (max-width: 430px) {
    .pfy-contact-info-box {
        padding: 50px 30px;
    }
    .bnq__post_overlay_11 .pfy-post-excerpt {
        display: none;
    }
    .pfy-post-list-wrap.list-style-6 .pfy-post-title {
        font-size: 18px;
    }
    .pfy-header-2 .pfy-search-btn {
        display: none;
    }
    .pfy-contact-info-item i {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        flex: 0 0 45px;
    }
    .contact-infot-head h2{
        font-size: 22px;
        line-height: 30px;
    }
    .pfy-post-gd-meta {
        display: block;
    }
    .pfy-post-gd-meta li, .pfy-post-gd-meta li a {
        display: inline-block;
    }
    .pfy-post-grid-wrap.overlay-5.overlay-7 .pfy-post-content .pfy-post-title {
        font-size: 30px;
        line-height: 44px;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-2.style-3 .pfy-post-content .pfy-post-title {
        font-size: 18px;
        line-height: 28px;
    }     
    .pfy-trending-wra {
        padding: 20px;
    }   
    .pfy-trending-wra .pfy-post-item .pfy-post-title {
        font-size: 18px;
        line-height: 28px;
    }
    .pfy-section-title-4.d-flex.align-items-center {
        display: block !important;
    }
    
    .pfy-section-title-4 .title-shape {
        display: none;
    }
    
    .pfy-section-title-4 .view-btn {
        margin-top: 10px;
        margin-left: 0;
    }
    .pfy-post-list-wrap.list-style-4 .pfy-post-item .pfy-post-thumb {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .pfy-post-list-wrap.list-style-4 .pfy-post-item {
        display: block;
    }
    h3 {
        font-size: 18px;
        line-height: 28px;
    }
    .pfy-overlay-style-1 .pfy-post-item .pfy-post-content {
        bottom: 30px;
        left: 30px;
        right: 40px;
    }
    .pfy-post-grid-wrap.pfy-overlay-style-1.style-6 .col {
        flex: 0 0 100%;
        margin-bottom: 24px;
    }
    .pfy-post-grid-wrap.grid-style-7 .pfy-post-item.pfy-gr-lg .pfy-post-thumb img {
        height: 225px;
    }
    .social-counter-wrap.style-1 .pfy-social-counter .pfy-social-counter-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .pfy-post-tab-list .nav .nav-item .nav-link {
        font-size: 14px;
        padding: 10px 9px;
    }
    .pfy-post-grid-wrap.grid-style-tb .pfy-post-item {
        display: block;
    }
    
    .pfy-post-grid-wrap.grid-style-tb .pfy-post-item .pfy-post-thumb {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .pfy-post-grid-wrap.grid-style-tb .pfy-post-item .pfy-post-thumb img {
        height: 200px;
        margin-bottom: 20px;
    }
    .insta-feed__gal_item ul li {
        flex: 0 0 122px;
        margin-bottom: 8px;
    }
    .header-right .menu-right {
        display: none;
    } 
    .bnq-search {
        width: 190px;
    }   
    .tabs-to-dropdown .nav-wrapper {
        position: relative;
    }
    .benqu-section-title-wrap h2:before {
        width: 80px;
    }
    .benqu-section-title-wrap h2 {
        position: relative;
        padding-left: 100px;
    }
    .benqu-section-title-wrap {
        display: block;
    }
    .pfy-post-grid-carousel .owl-dots{
        left: 0;
    }
    .tabs-to-dropdown .pfy-section-two-title-wrap.st_style_3 {
        margin-bottom: 0;
    }
    .benqu__post-content.pfy-scale.d-flex {
        flex-direction: column;
    }
    .bnq-tab-info .benqu-section-title-wrap span {
        display: none;
    }
    .tabs-to-dropdown .nav-wrapper {
        margin-bottom: 25px;
    }
    .benqu-section-title-wrap span {
        display: none;
    }
    .benqu-switch-box-wrap {
        position: absolute;
        right: 15px;
        top: 14px;
        z-index: 2;
        transform: inherit;
        bottom: auto;
    }
    .admin-bar .benqu-switch-box-wrap{
        top:61px
    }
    .pfy-top-left .topbar-date {
        float: left;
    }
    .benqu-switch-box-wrap input[type="checkbox"] {
        width: 45px;
        height: 15px;
    }
    .benqu-switch-box-wrap input[type="checkbox"]:before {
        width: 25px;
        height: 25px;
        line-height: 31px;
    }
    .benqu-switch-box-wrap input:checked[type="checkbox"]:before {
        left: 20px;
    }
    .back-top-btn {
        position: fixed;
        background: #181b1e;
        width: 40px;
        height: 40px;
        line-height: 40px;
        right: 15px;
    }
    .pfy_single_post_wrapper .social-box a {
        display: block;
        margin: 0 auto;
    }
    .comments-area .comment-body .author-thumb {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        border-radius: 0;
    }
    .comments-area .comment-body .author-thumb img{
        border-radius: 50%;
    }
    .comments-area .comment-body{
        padding-left: 0;
    }
    .comments-area .children .comment-body {
        margin-left: 30px;
    }
    .pfy-trending-wra .pfy-post-item-sm {
        margin-bottom: 25px;
    }
    .pfy-overlay-style-1 .pfy-post-item {
        margin-bottom: 24px;
    }
    .benqu__tb_i_news_wrap .benqu__news-item {
        display: block;
    }
    
    .benqu__tb_i_news_wrap .benqu__news-item .pfy-post-thumb {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .pfy-header-4 a.pfy-btn.pfy-btn-primery.login-btn {
        display: none;
    }
    .bnq-post-list-item-pagi .pfy-post-item {
        display: block !important;
    }
    
    .bnq-post-list-item-pagi .pfy-post-item .pfy-post-thumb {
        margin: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .bnq-post-list-item-pagi .pfy-post-item .pfy-post-content {
        padding: 10px;
    }
}